/* Header */

.wrap{
    margin: 15px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #00AF1C;
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    align-items: center;
    top: 0;
    


}
    .header ul{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header li{
    margin-left: 50px;
    list-style: none;
}
.header a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.header nav a{
    font-size: 25px;
}

.logo{
font-size: 32px;
font-family: Arial, Helvetica, sans-serif;
color: #FFFFFF;
}


/* home */
.home{
    margin-top: 160px;
    color: #3B06D2;
    font-size: 1.5rem;
    position: relative;
}
#home{
    margin-top:50px; ;
}
.home h1{
    color: #3B06D2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px  ;
}

.home p {
    margin-bottom: 30px;
}
.home div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home div img {
    margin: 20px;
}


.home1 h1{
    color: #3B06D2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px  ;
}

.home1 p {
    margin-bottom: 30px;
}
.home1 div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home1 div img {
    margin: 20px;
}

.uno {
    color: red;
}
.dos {
    color: blue;
}
.tres{
    color: green;
}
.cuatro{
    color: purple
}

.servicio {
    font-size: 20px;
}
.servicio2 {
    font-size: 20px;
}


.caja {
    width: 1339px;
    height: 88px;
    left: 38px;
    top: 2195px;
}
.detalle {
    box-sizing: border-box;
    width: 1339px;
    height: 214px;
    left: 38px;
    top: 2323px;
    border: 1px solid #000000;
}
.boton {
    box-sizing: border-box;
    width: 195px;
    height: 73px;
    left: 40px;
    top: 2574px;
    border: 1px solid #22A900;
}
footer {
    background: #00AF1C;
padding: 25px;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 15px;
margin-top: 10px; 
color: white;
font-size: 25px;
}